@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}


main {
  flex: 1;
}

footer, p {
  color: rgb(130, 130, 130);
}

h2 {
  color: black;
}

a, .btn {
  transition: all 300ms ease;
}

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}


.nav-links a, .nombre a {
  position: relative;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.nav-links a::after, 
.nombre a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;               
  height: 3px;
  background-color: rgb(181, 181, 181);
  transition: width 0.3s ease; 
}


.nav-links a:hover, 
.nombre a:hover {
  color: rgb(181, 181, 181);
  width: 100%;
}

.nav-links a.active::after {
  width: 100%;
  transition: none;
}

.nav-links a:not(.active):hover::after{
  width: 100%;
}

.nombre {
  font-size: 2rem;
}

.nombre:hover {
  cursor: default;
}

#nav-desplegable {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001; 
  background: white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1); 

}

#nav-principal {
  position: fixed;
  top: 0;           
  left: 0;           
  width: 100%;       
  z-index: 1000;     
  background: white; 
  box-shadow: 0 10px 10px rgba(0,0,0,0.1); 
}

.menu-desplegable {
  position: relative;
  display: inline-block;

}

.icono-desplegable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.icono-desplegable span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: 200px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  margin-top: 2rem;
  z-index: 100; 
}

.menu-links a {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0.5rem 1rem;
}

.menu-links.open {
  max-height: 500px;
}

.menu-links a:hover{
  transform: scale(1.20);
}

.icono-desplegable.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.icono-desplegable.open span:nth-child(2) {
  opacity: 0;
}

.icono-desplegable.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

section {
  padding-top: 4vh;
  scroll-margin-top: 10vh;
  height: auto;
  margin: 0 5%;
  box-sizing: border-box;
  min-height: fit-content;
  opacity: 0;
  transition: opacity 1s ease;
}

section.visible {
  opacity: 1;
}

.section-div {
  display: flex;
}

#perfil {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.div-perfil-imagen {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.div-primer-titulo {
  align-self: center;
  text-align: center;
}

.div-primer-titulo p {
  font-weight: 600;
}

.div-text-p1 {
  text-align: center;
  font-size: 1.75rem;
}

.div-text-p2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.div-text-sub {
  color: #000;
  font-weight: 700;
  position: relative;
}

.div-text-sub::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.titulo {
  font-size: 2rem;
  text-align: center;
}

#redes-sociales {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icono {
  cursor: pointer;
  height: 3rem;
  transition: all 0.3s ease-in-out;

}

.icono:hover {
  transform: scale(1.25);
}

.btn-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1 {
  color: black;
  background: white;

}

.btn-color-1:hover {
  color: white;
  background: black;
}

.btn-color-2:hover {
  color: white;
  background: black;
}

.btn-color-2 {
  color: white;
  background: rgb(53, 53, 53);
}

#sobre-mi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;

}

.sobre-mi-contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.div-text-card {
  color: black;
  font-weight: 600;
  text-align: justify;
  max-width: 100%;

}

.titulo-sobre-mi {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
}

.titulo-sobre-mi-principal {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-align: center;
}

.lista-sobre-mi {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  place-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card-sobre-mi {
  background-color: white; 
  color: #e5e7eb; 
  border-radius: 20px;
  box-shadow: 5px 5px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 2rem;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  font-family: sans-serif;
}

.card-encabezado {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}
.card-encabezado p{
  font-weight: 500;
  color: black;
}
.card-titulo-encabezado {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 15px;
}

.card-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
}

.degree-level {
  color: #0ea5e9; 
  font-weight: bold;
  margin-right: 5px;
}

.institucion {
  font-weight: 600;
  margin: 5px 0;
  color: black;
}

.program {
  font-size: 0.9rem;
  color: #9ca3af;
}

.card-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2rem auto;
}

.badge {
  background-color: rgba(14, 165, 233, 0.2); 
  color: #0ea5e9;
  padding: 5px 15px;
  border-radius: 9999px;
  font-size: 0.85rem;
  white-space: nowrap;
}
.lenguajes{
  background-color: rgba(30, 255, 0, 0.2); 
  color: #00af17;
  padding: 5px 15px;
  border-radius: 9999px;
  font-size: 0.85rem;
  white-space: nowrap;
}
.sistemas{
  background-color: rgba(255, 221, 51, 0.5);
  color: #bfa900; 
  padding: 5px 15px;
  border-radius: 9999px;
  font-size: 0.85rem;
  white-space: nowrap;
}

.texto-debajo-card-sobre-mi {
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  flex-basis: 100%;
  width: 100%;
  text-align: center;
  max-width: 800px;
  margin-bottom: 2rem;

}

.div-text-p1-sobre-mi {
  font-weight: 600;
  color: black;
  text-align: center;
  font-size: 1.75rem;
}

.div-text-p2-sobre-mi {
  color: rgb(130, 130, 130);
  font-size: 1rem;
}

.div-text-p3-sobre-mi {
  font-weight: 600;
  color: #000;
  text-align: center;
  font-size: 1.50rem;
}

.card-sobre-mi:hover {
  transform: scale(1.03);
  outline: 2px solid rgb(53, 53, 53);
  outline-offset: -2px;
}

.icono-sobre-mi{
  cursor: default;
  height: 4rem;
  transition: all 0.3s ease-in-out;
  margin: 2rem auto;
}

.icono-ies-venancio {
  cursor: default;
  height: 7rem;
  transition: all 0.3s ease-in-out;
  margin: 2rem auto;
}
.icono-ies-german {
  cursor: default;
  height: 8rem;
  transition: all 0.3s ease-in-out;
  margin: 2rem auto;
}

.icono-ayuntamiento {
  cursor: default;
  height: 5rem;
  transition: all 0.3s ease-in-out;
  margin: 3rem auto;
}
.icono-nttdata {
  cursor: default;
  height: 10rem;
  transition: all 0.3s ease-in-out;
}

#experiencia {
  text-align: center;
  margin-bottom: 10vh;

}

.lista-experiencia {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.card-experiencia {
  display: flex;
  width: 100%;
  min-height: 150px;
  border-radius: 50px;
  background: white;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 0.5rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  margin: 2rem auto;
}


.titulo-habilidades {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-align: center;
}

.div-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 4vh;
}

.div-frontend-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
}


.div-frontend-skills:hover {
  transform: scale(1.15);
}

.icono-frontend{
  cursor: default;
  height: 3rem;
  transition: all 0.3s ease-in-out;
}

.icono-frontend-odoo{
  margin-bottom: 2rem;
  cursor: default;
  height: 2rem;
  transition: all 0.3s ease-in-out;
}

.texto-experiencia-p1 {
  text-align: center;      
  font-size: 1.25rem; 
  font-weight: 600;      
  color: black;              
}

#proyectos{
  text-align: center;
  margin-bottom: 10vh;

}

.card-proyectos {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 150px;
  border-radius: 50px;
  background: white;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 2rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  margin: 2rem auto;
}

.card-proyectos:hover {
  transform: scale(1.03);
  outline: 2px solid rgb(53, 53, 53);
  outline-offset: -2px;
}

.img-backend {
  border-radius: 1rem; 
  height: 10rem;
  object-fit: cover; 
  margin: 2rem auto;
  transition: all 0.3s ease-in-out;
}

.img-cliente {
  border-radius: 1rem;
  object-fit: cover; 
  margin: 2rem auto;
  height: 9.5rem;
  transition: all 0.3s ease-in-out;
}

.img-backend:hover, .img-cliente:hover {
  cursor: pointer;
  transform: scale(1.05);

}

.titulo-proyectos {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-align: center;
}

.lista-proyectos {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.texto-proyectos-p1 {
  text-align: center;      
  font-size: 1.40rem;       
  color: black;              
  max-width: 800px;              
}

.div-icono-github-proyecto {
  display: flex;
  margin-top: auto;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  
}

.div-icono-github-proyecto img{
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
.div-icono-github-proyecto img:hover{
  cursor: pointer;
  transform: scale(1.20);
}

.div-icono-github-proyecto a {
  position: relative;
  font-weight: 600;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.div-icono-github-proyecto a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;           
  width: 0%;
  height: 2px;            
  background-color: #0056b3;
  transition: width 0.3s ease;
}

.div-icono-github-proyecto a:hover::after {
  width: 100%;
}

.div-icono-github-proyecto a:hover {
  color: #0056b3;
}

.div-text-p1-enlaces-github {
  font-size: 1.50rem;
  font-weight: 600;
}

#contacto {
  margin: 0 auto;
  text-align: center;
  min-height: 65vh;
}

.titulo-contacto {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-align: center;
}

.card-contacto {
  display: flex;
  width: fit-content;
  max-width: 1500px;
  height: auto;
  border-radius: 50px;
  background: white;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 2rem;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  margin: 2rem auto;
}

.div-contacto-info {
  display: flex;
  align-items: center; 
  gap: 0.5rem; 
}

.icono-contacto{
  cursor: pointer;
  height: 3rem;
  transition: all 0.3s ease-in-out;
}

.icono-contacto:hover {
  transform: scale(1.25);
}

.icono-contacto-gmail {
  cursor: pointer;
  height: 4rem;
  transition: all 0.3s ease-in-out;
}

.icono-contacto-gmail:hover {
  transform: scale(1.25);

}

.icono-contacto-telefono {
  cursor: pointer;
  height: 3rem;
  transition: all 0.3s ease-in-out;
}

.icono-contacto-telefono:hover {
  transform: scale(1.25);

}

.div-contacto-info p {
  margin: 0;
  font-size: larger;
}

.div-text-p2-contacto {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

footer {
  padding: 3rem 0;
}

footer p {
  text-align: center;
}

#footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;              
  box-shadow: 0 -10px 20px rgba(0,0,0,0.15); 
  font-size: 1.2rem;              
  font-weight: 600;              
  position: relative;              
  z-index: 1000;
  text-align: center; 
}

.div-footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.div-text-p1-footer {
  text-align: center;
  font-size: 1.40rem;
}
.div-text-p2-footer {
  text-align: center;
  font-size: 1.40rem;
}

.div-footer-iconos {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center; 
  justify-content: center;
  gap: 4rem; 
  margin: 2rem auto;
}

.div-footer-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
}